* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #121212;
    color: white;
}


.navbar-cafe {
    margin-top: 20px;
    padding: 1rem 9% !important;
    background-color: transparent !important;
    z-index: 100;
}

.navbar-brand {
    font-size: 3rem !important;
    color: #C88A58 !important;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s;
}

.navbar-brand:hover {
    transform: scale(1.1);
}

.nav-link {
    font-size: 1.8rem !important;
    color: white !important;
    margin-left: 4rem;
    font-weight: 500;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
}

.nav-link:hover,
.nav-link.active {
    color: #C88A58 !important;
    border-bottom: 3px solid #C88A58;
}


.form-contato {
    width: 50rem;
    max-width: 100%;
    margin: 0 auto;
}

.form-contato .destaque {
    font-size: 2rem;
    color: #C88A58;
    font-weight: 500;
}

.form-contato h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 2rem;
}


.form-contato form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-contato .form-label {
    font-size: 1.6rem;
    color: white !important;
    margin-bottom: 0.7rem;
}

.form-contato .form-control {
    width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: #222 !important;
    color: white !important;
    border: 1px solid #444 !important;
    font-size: 1.6rem;
}

.form-contato .form-control::placeholder {
    color: #999;
}

.form-contato .form-control:focus {
    background-color: #222 !important;
    color: white !important;
    border-color: #C88A58 !important;
    box-shadow: 0 0 0 0.2rem rgba(200, 138, 88, 0.2) !important;
}

.form-contato textarea {
    height: 15rem;
    resize: none;
}

.btn-cafe {
    width: 100%;
    padding: 1.5rem !important;
    border-radius: 1rem !important;
    background-color: #C88A58 !important;
    color: white !important;
    font-size: 1.6rem !important;
    font-weight: 700;
    cursor: pointer;
    border: none !important;
    transition: 0.3s;
}

.btn-cafe:hover {
    background-color: #a96f46 !important;
    transform: scale(1.02);
}

.offcanvas {
    background-color: #121212 !important;
}

.offcanvas-title {
    font-size: 2rem;
}

@media (max-width: 768px) {

    .navbar-cafe {
        padding: 1rem 5% !important;
    }

    .nav-link {
        margin-left: 0;
        font-size: 2rem !important;
    }

    .form-contato h1 {
        font-size: 3.5rem;
    }

    .form-contato {
        width: 100%;
    }
}
